@import url(normalize.css);
@import url(font-awesome.css);
/* Medfly CSS Document */
.half {
  width: 50%;
  float: left; }

.quarter {
  width: 25%;
  float: left;
  padding: 20px; }

/* Default Styles */
body {
  font-size: 13px;
  font-family: "Signika", sans-serif;
  background-color: #f2f2f2;
  color: #555555;
  line-height: 1.35em;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1em;
  margin: 15px 0;
  padding: 0;
  color: #123d4c; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

h1 {
  font-family: "Georgia", sans-serif;
  font-size: 1.923em;
  margin-bottom: 20px; }

h2 {
  font-family: "Georgia", sans-serif;
  font-size: 1.538em;
  text-transform: uppercase; }

h3 {
  font-family: "Georgia", sans-serif;
  font-size: 1.231em;
  text-transform: uppercase; }

h4 {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold; }

p {
  margin: 0 0 20px 0;
  line-height: 1.5em; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container {
  margin: 0 auto;
  max-width: 950px;
  width: 100%; }

a, a:visited, .kony-blue {
  color: #62afc9;
  text-decoration: none; }

a:hover, a:active {
  color: #84c0d5;
  text-decoration: underline; }

/* Common Classes */
.left {
  float: left; }

.right {
  float: right; }

.align-center {
  text-align: center; }

.clear {
  clear: both; }

.width-full {
  width: 100%; }

.block {
  display: block; }

/* Header Css */
header {
  background: url(../images/bg-header-wrapper.jpg) repeat-x left top #f6f6f6;
  float: left;
  width: 100%; }
  header .header-glow {
    background: url(../images/bg-header-glow.png) no-repeat center bottom;
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0; }
  header #logo {
    margin: 12px 0;
    float: left; }
  header .contact-info {
    margin-top: 53px; }
    header .contact-info ul li {
      float: left;
      color: #388199;
      margin-left: 15px; }
      header .contact-info ul li a {
        color: #388199; }
      header .contact-info ul li i {
        font-size: 1.385em; }
  header .web-search {
    float: left;
    margin: 15px 0 0 30px; }
    header .web-search form {
      position: relative; }
      header .web-search form input[type="text"] {
        background: #f3f2f2;
        color: #a1a1a1;
		margin-top: 1px;
        padding: 10px 10px 11px 30px;
        border: 1px solid #cfcfcf;
        border-right: none;
        float: left;
        width: 190px;
        border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px; }
      header .web-search form button {
        position: absolute;
        background: none;
        color: #a1a1a1;
        border: none;
        left: 0;
        top: 0;
        padding: 14px 5px 14px 14px; }
      header .web-search form .submit {
        color: #e4e4e4;
        background: #388199;
        border: 1px solid #cfcfcf;
        border-left: none;
        border-right: none;
        line-height: 1;
        padding: 13px;
        border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0; }

nav.main-nav {
  background: #62afc9;
  border-top: 1px solid #74c8e4;
  padding: 4px 0;
  float: left;
  width: 100%; }
  nav.main-nav ul li {
    float: left;
    margin-left: 2px; }
    nav.main-nav ul li:first-child {
      margin-left: 0; }
    nav.main-nav ul li a {
      color: #f7f9f9;
      text-align: center;
      text-transform: uppercase;
      float: left;
      padding: 10px 12px;
      line-height: 1.25; }
      nav.main-nav ul li a:hover, nav.main-nav ul li a.current, nav.main-nav ul li a.free-quote:hover {
        color: #123d4c;
        text-decoration: none;
        background: #ffffff;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmQyZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, white 0%, #d2d2d2 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d2d2d2));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, #d2d2d2 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, white 0%, #d2d2d2 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, white 0%, #d2d2d2 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, white 0%, #d2d2d2 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0 );
        /* IE6-8 */
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3); }
      nav.main-nav ul li a.free-quote {
        background: #388199;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }

/* Content CSS */
.main-content {
  background: url(../images/bg-home-wrapper.png) no-repeat center top white;
  float: left;
  width: 100%;
  padding: 30px 0 0;
  min-height: 520px; }

#banner-wrap {
  float: left;
  width: 100%;
  margin-bottom: 20px; }
  #banner-wrap .banner {
    position: relative; }
    #banner-wrap .banner .banner-content {
      position: absolute;
      left: 15px;
      top: 60px; }
      #banner-wrap .banner .banner-content h1 {
        margin: 0 0 10px; }
      #banner-wrap .banner .banner-content ul {
        margin-bottom: 15px; }
        #banner-wrap .banner .banner-content ul li {
          font-size: 1.077em;
          color: #303437;
          margin-bottom: 5px; }
          #banner-wrap .banner .banner-content ul li i {
            color: #e56821;
            font-size: 1.231em;
            vertical-align: middle; }
      #banner-wrap .banner .banner-content .get-an-appointment {
        background: url(../images/bg-get-an-appointment.png) no-repeat left top;
        float: left;
        color: #fff;
        width: 163px;
        font-size: 1.231em;
        padding: 11px 17px 16px; }
        #banner-wrap .banner .banner-content .get-an-appointment i {
          vertical-align: middle;
          margin-left: 10px; }
        #banner-wrap .banner .banner-content .get-an-appointment:hover {
          text-decoration: none; }
      #banner-wrap .banner .banner-content h1 {
        font-size: 1.923em;
        margin-bottom: 25px;
        text-transform: uppercase; }
        #banner-wrap .banner .banner-content h1 span {
          color: #62afc9; }

.spotlight-medical-centers {
  float: right;
  width: 280px;
  background: #eaeaea;
  position: relative;
  border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0; }
  .spotlight-medical-centers .shadow {
    position: absolute;
    width: 14px;
    height: 361px;
    background: url(../images/bg-spotlight-shadow.png) no-repeat left top;
    left: -14px;
    top: 0;
    z-index: 9; }
  .spotlight-medical-centers h2 {
    background: #df4b15;
    color: #fff;
    font-size: 1.154em;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    padding: 7px 15px 7px 10px;
    border-radius: 0 15px 0 0;
    -moz-border-radius: 0 15px 0 0;
    -webkit-border-radius: 0 15px 0 0; }
    .spotlight-medical-centers h2 i {
      font-size: 1.692em;
      vertical-align: middle; }
    .spotlight-medical-centers h2 .icon-caret-down {
      color: #df4b15;
      position: absolute;
      bottom: -19px;
      left: 10px;
      font-size: 2.308em; }
  .spotlight-medical-centers #medical-centers {
    height: 320px;
    overflow: auto;
    padding-right: 0px;
    margin-top: 15px; }
    .spotlight-medical-centers #medical-centers .overview {
      /*white-space: nowrap;*/
      width: 100%; }
    .spotlight-medical-centers #medical-centers .medical-centers {
      display: inline-block;
      width: 95%;
      padding: 15px 7px; }
      .spotlight-medical-centers #medical-centers .medical-centers li {
        position: relative; }
        .spotlight-medical-centers #medical-centers .medical-centers li ul li {
          color: #c6a698; }
          .spotlight-medical-centers #medical-centers .medical-centers li ul li a {
            color: #8a5f4c; }
        .spotlight-medical-centers #medical-centers .medical-centers li .medical-center-logo {
          width: 70px;
          display: inline-block;
          vertical-align: middle; }
          .spotlight-medical-centers #medical-centers .medical-centers li .medical-center-logo img {
            width: 90%; }
        .spotlight-medical-centers #medical-centers .medical-centers li .country-name {
          position: relative;
          display: inline-block;
          background: #f18b1e;
          padding: 3px;
          text-transform: uppercase;
          color: #eff7f8;
          font-size: 0.769em;
          line-height: 1; }
          .spotlight-medical-centers #medical-centers .medical-centers li .country-name i {
            position: absolute;
            left: -3px;
            color: #f18b1e; }
        .spotlight-medical-centers #medical-centers .medical-centers li.quote {
          display: inline-block;
          padding-left: 5px; }
          .spotlight-medical-centers #medical-centers .medical-centers li.quote li .icon-li {
            margin-right: 3px; }
      .spotlight-medical-centers #medical-centers .medical-centers:nth-child(odd) {
        background: #eaeaea; }
      .spotlight-medical-centers #medical-centers .medical-centers:nth-child(even) {
        background: #dedede; }

/* Home Search Form */
#home-search {
  padding: 16px 25px 17px;
  width: 900px;
  background: #62afc9; }
  #home-search .search-icon, #home-search .search-form {
    display: inline-block;
    vertical-align: middle; }
  #home-search .search-icon {
    margin-right: 15px; }
    #home-search .search-icon .icon-search.icon-stack-base {
      font-size: 3.5em;
      color: #fff;
      margin: 3px 0 0 -5px; }
  #home-search .search-form {
    color: #fff;
    font-size: 1.231em; }
    #home-search .search-form h2 {
      color: #fff;
      margin: 0 0 10px; }
    #home-search .search-form span {
      display: inline-block;
      margin-right: 7px; }
    #home-search .search-form .select-box, #home-search .search-form input[type="text"] {
      padding: 8px;
      border: solid 1px #40a1bc;
      width: 335px;
      font-size: 0.875em;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    #home-search .search-form button {
      border: 1px solid #333;
      color: #fff;
      padding: 5px 15px;
      background: #999d9b;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OWQ5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzY1NjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzU0NTU1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #999d9b 0%, #656565 50%, #545557 51%, #333134 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999d9b), color-stop(50%, #656565), color-stop(51%, #545557), color-stop(100%, #333134));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #999d9b 0%, #656565 50%, #545557 51%, #333134 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #999d9b 0%, #656565 50%, #545557 51%, #333134 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #999d9b 0%, #656565 50%, #545557 51%, #333134 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #999d9b 0%, #656565 50%, #545557 51%, #333134 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999d9b', endColorstr='#333134',GradientType=0 );
      /* IE6-8 */ }
      #home-search .search-form button i {
        font-size: 1.25em;
        vertical-align: middle; }

/* Region Blocks CSS */
.region-blocks {
  float: left;
  width: 100%;
  margin-bottom: 20px; }
  .region-blocks .region-block {
    float: left;
    width: 31%;
    padding-left: 33px; }
    .region-blocks .region-block:first-child {
      padding-left: 0; }
    .region-blocks .region-block h3 {
      background: #f5f4f2;
      padding: 7px;
      color: #f6931f;
      box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2); }
      .region-blocks .region-block h3 i {
        color: #a1a09e;
        font-size: 1.563em;
        vertical-align: middle;
        margin-right: 3px; }
        .region-blocks .region-block h3 i.icon-rss-sign {
          color: #e17731; }
  .region-blocks .articles .posts, .region-blocks .news-events .posts {
    padding: 0 10px 10px;
    min-height: 270px;
    position: relative; }
    .region-blocks .articles .posts .post, .region-blocks .news-events .posts .post {
      display: inline-block; }
      .region-blocks .articles .posts .post a, .region-blocks .news-events .posts .post a {
        color: #363636; }
      .region-blocks .articles .posts .post .date, .region-blocks .news-events .posts .post .date {
        display: block;
        color: #489cc1; }
      .region-blocks .articles .posts .post .author, .region-blocks .news-events .posts .post .author {
        display: block;
        color: #989797;
        font-size: 0.923em; }
    .region-blocks .articles .posts .more-posts, .region-blocks .news-events .posts .more-posts {
      display: block;
      color: #489cc1;
      text-transform: uppercase;
      position: absolute;
      bottom: 10px; }
  .region-blocks .news-events .posts .post p {
    display: inline-block; }
  .region-blocks .news-events .posts .post .date {
    display: inline-block;
    border: 1px solid #555;
    text-align: center;
    width: 15%; }
    .region-blocks .news-events .posts .post .date .month {
      display: block;
      text-transform: uppercase;
      color: #fff;
      padding: 3px 0;
      background: #f6911c;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2OTExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjdmMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #f6911c 0%, #ef7f1c 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6911c), color-stop(100%, #ef7f1c));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #f6911c 0%, #ef7f1c 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #f6911c 0%, #ef7f1c 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #f6911c 0%, #ef7f1c 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #f6911c 0%, #ef7f1c 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6911c', endColorstr='#ef7f1c',GradientType=0 );
      /* IE6-8 */ }
    .region-blocks .news-events .posts .post .date .day {
      padding: 3px 0;
      display: block;
      color: #333;
      font-size: 1.538em;
      background: #e8e8e6;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q3ZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #e8e8e6 0%, #d7d7d7 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e6), color-stop(100%, #d7d7d7));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #e8e8e6 0%, #d7d7d7 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #e8e8e6 0%, #d7d7d7 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #e8e8e6 0%, #d7d7d7 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #e8e8e6 0%, #d7d7d7 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e6', endColorstr='#d7d7d7',GradientType=0 );
      /* IE6-8 */ }
  .region-blocks .news-events .posts .post .post-discription {
    width: 80%;
    margin-left: 10px; }

/* Pre Footer CSS */
footer {
  float: left;
  width: 100%;
  background: url(../images/bg-pre-footer-wrapper.jpg) repeat-x left top #f2f2f2; }
  footer #pre-footer {
    border-bottom: 1px dotted #cacaca;
    float: left;
    width: 100%;
    padding: 35px 0 30px; }
    footer #pre-footer .col {
      float: left;
      margin-right: 10px;
      width: 16%; }
      footer #pre-footer .col.last {
        margin: 0;
        width: auto; }
        footer #pre-footer .col.last li .facebook {
          color: #2e5bb8; }
          footer #pre-footer .col.last li .facebook i {
            color: #2e5bb8; }
        footer #pre-footer .col.last li .twitter {
          color: #0ab2f0; }
          footer #pre-footer .col.last li .twitter i {
            color: #0ab2f0; }
        footer #pre-footer .col.last li .linkedin {
          color: #148cc0; }
          footer #pre-footer .col.last li .linkedin i {
            color: #148cc0; }
        footer #pre-footer .col.last li .google {
          color: #e14a41; }
          footer #pre-footer .col.last li .google i {
            color: #e14a41; }
        footer #pre-footer .col.last li .rss {
          color: #f09926; }
          footer #pre-footer .col.last li .rss i {
            color: #f09926; }
      footer #pre-footer .col h4 {
        color: #389cbe; }
      footer #pre-footer .col ul li {
        margin-bottom: 3px; }
        footer #pre-footer .col ul li a {
          color: #2c2c2c; }
  footer .base-footer {
    float: left;
    width: 100%;
    padding: 6px 0; }
    footer .base-footer .copyrights {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    footer .base-footer .footer-nav {
      display: inline-block;
      vertical-align: middle; }
      footer .base-footer .footer-nav ul {
        float: left; }
        footer .base-footer .footer-nav ul li {
          float: left;
          border-left: 1px solid #424242;
          padding: 0 7px;
          line-height: 1; }
          footer .base-footer .footer-nav ul li a {
            color: #353535; }
    footer .base-footer .logo-footer {
      display: inline-block;
      vertical-align: middle;
      margin-left: 3px;
      width: 245px; }

/* Aside CSS */
.content-wrap {
  background: #f8f8f8 url(../images/bg-sudebar.jpg) repeat-y right top;
  width: 100%;
  float: left;
  min-height: 520px;
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -weblit-border-radius: 15px 15px 0 0; }

aside {
  position: relative;
  width: 265px; }
  aside .sidebar-shadow {
    background: url(../images/sidebar_shadow.png) no-repeat left top;
    position: absolute;
    left: -10px;
    top: 0;
    width: 10px;
    height: 390px;
    z-index: 9; }
  aside h3 {
    color: #f18b1e;
    background: url(../images/sidebar-divider.png) no-repeat left bottom;
    padding: 0 0 15px; }
  aside .contact-info {
    color: #206b86; }
    aside .contact-info a {
      color: #ff6600; }

.content-area {
  width: 685px; }


/* Tabs CSS */
#Taber {
  float: left;
  width: 100%; }
  #Taber .list-wrap {
    clear: both; }
  #Taber h2 {
    background: #ececec;
    padding: 5px 0 5px 5px;
    font-weight: bold; }

.tabs {
  float: left;
  width: 100%;
  margin: 0 0 20px;
  border-bottom: 1px solid #BBBBBB; }
  .tabs li {
    float: left; }
    .tabs li a {
      color: #123d4c;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      background: #ffffff;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmQyZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, white 0%, #d2d2d2 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d2d2d2));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #d2d2d2 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #d2d2d2 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #d2d2d2 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 0%, #d2d2d2 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0 );
      /* IE6-8 */
      padding: 10px 0;
      width: 99%;
      float: left;
      text-align: center;
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.3); }
      .tabs li a:hover, .tabs li a.current {
        color: #fff;
        background: #216d88;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNmQ4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzEyM2Q0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, #216d88 0%, #123d4c 78%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #216d88), color-stop(78%, #123d4c));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #216d88 0%, #123d4c 78%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #216d88 0%, #123d4c 78%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #216d88 0%, #123d4c 78%);
        /* IE10+ */
        background: linear-gradient(to bottom, #216d88 0%, #123d4c 78%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#216d88', endColorstr='#123d4c',GradientType=0 );
        /* IE6-8 */ }

.br-tabs li a {
  height: 30px; }

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.layer {
  padding: 10px 0 0;
  display: block;
  border-bottom: 1px solid #ccc; }

.layer_alt {
  border-bottom: none;
}

.article .art-featur-img {
  width: 20%; }
  .article .art-featur-img img {
    width: 100%;
    margin-bottom: 15px; }
.article .art-content {
  width: 77%; }
  .article .art-content h4 {
    font-size: 14px; }
    .article .art-content h4 .author {
      display: block;
      font: italic 13px "Arial", Helvetica, sans-serif;
      color: #979797;
      margin-top: 3px; }
.article .mcl-content {
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 10px;
  border-right: 1px solid #ccc; }
.article .contact {
  width: 30%;
  padding-left: 10px; }
  .article .contact .icon-phone {
    margin-right: 5px; }
.article:nth-child(2n+1) {
  background: #dfecf0; }

.news .news-content {
  display: block; }
  .news .news-content h4 {
    font-size: 14px; }
    .news .news-content h4 .author {
      display: block;
      font: italic 13px "Arial", Helvetica, sans-serif;
      color: #979797;
      margin-top: 3px; }

.button {
  background: #62afc9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block; }
  .button:hover {
    text-decoration: none;
    color: #fff;
    background: #3591b0; }

.highlighted-text {
  color: #f18b1e; }

.cntTop-margin {
  margin-top: 20px; }

.img-left {
  float: left;
  margin: 0 15px 15px 0;
  border: 1px solid #ccc;
  padding: 1px; }

.img-right {
  float: right;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 0 0 15px 15px; }

.inner-banner {
  float: left;
  width: 100%;
  border-radius: 15px 0 0;
  -moz-border-radius: 15px 0 0;
  -webkit-border-radius: 15px 0 0; }
  .inner-banner img {
    width: 100%; }

.treatment-blocks {
  display: block; }
  .treatment-blocks .treatment-block {
    background: #dfecf0;
    border: 1px solid #c5cfd2;
    border-radius: 5px;
    width: 28%;
    height: 235px;
    overflow: hidden;
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .treatment-blocks .treatment-block img {
      width: 100%; }

.align-right {
  text-align: right; }

.profile-contact-info {
  float: left;
  width: 100%;
  background: #dfecf0;
  padding: 10px;
  border: 1px solid #c5cfd2;
  margin-bottom: 15px; }
  .profile-contact-info .contact-info {
    background: #fefefe;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    width: 45%; }
    .profile-contact-info .contact-info p {
      border-top: 1px dotted #ccc;
      padding-top: 15px; }
      .profile-contact-info .contact-info p:first-child {
        border: none; }
/* Homepage slider styles*/

#slideshow-slide-1 > div { display: none; }
.layer-home { margin-top: 0; padding-top: 0; }
.hdg-home { font-family: 'KarbonLight'; font-weight: 100; }
.slideshow-nav { top: 22px; position: absolute; right: 0; width: auto; z-index: 99;}
.slideshow-nav-link { font-size: 16px; width: 160px; float: left; padding: 13px 10px; color: #fff !important;  position: relative;}
.slideshow-nav-link:hover {
	text-decoration: none;
}
/*.slideshow-nav-link-inner { padding: 10px; }*/
.flex-active a:after { content: '\25C0'; position: absolute; right: -1px; top: 50%; margin-top: -9px; }
.slideshow-nav-link_0 { background-color: #829aaf; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px;}
.slideshow-nav-link_0:hover { background-color: #7d93a7; }
.slideshow-nav-link_1 { background-color: #708596; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0;}
.slideshow-nav-link_1:hover { background-color: #687c8d;}
.slideshow-nav-link_2 { background-color: #556674; }
.slideshow-nav-link_2:hover { background-color: #4d5d6b;}
.slideshow-nav-link_3 { background-color: #35414c; }
.slideshow-nav-link_3:hover { background-color: #303b45; }
.flex-control-nav li:last-child a { -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-left-radius: 4px; }
.page-bd ul.slides li.slideshow-slide { padding-left: 0; }
.page-bd ul.slides { margin-left: 0; }
.slideshow-slide-content { background: url(../images/bg_blue_trans.png) repeat; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; left: 22px; padding: 15px 20px; position: absolute; top: 22px; width: 350px; }
.slideshow-slide-hd { font-family: 'KarbonRegular', Univers, Helvetica, Arial, sans-serif; padding-bottom: 10px; }
.slideshow-slide-hd h2 { color: #fff; font-size: 28px; }
.slideshow-slide-bd { font-size: 16px; padding-bottom: 0; }
a.slideshow-slide-link { font-size: 18px; font-weight: normal; color: #fff; }
.slideshow-slide img { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
a.slideshow-click-area { position: absolute; top: 0; width: 350px; z-index: 99; margin-left: -20px; min-height: 200px; }
.grid-home { background: #35414c; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-bottom: 30px; padding: 20px 20px 30px 20px; }
.flexslider {
	position: relative;
}
